#appinfo {
  font-size: x-small;
  text-align: center;
  color: #666666;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
